.audio {
  padding: 20px 20px;
  &_title {
    font-size: 30px;
    color: white;
    margin: 20px 170px;
  }
  &_track {
    margin: 20px 150px;
    width: 500px;
    outline: none;
  }
  &_item{
    margin: 10px 0;
    width: 300px;
  }
}