
.content-wrapper {
  display: flex;
  width: 1280px;
  margin: 0 auto;

}

.content {
  padding: 10px 10px;
  margin: 20px 10px;
  width: 1000px;
}

.profile {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  &__img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__avatar {
    width: 300px;
    border-radius: 100%;
  }
}

.user {
  &__data {
    margin-top: 40px;
    margin-left: 40px;
  }
  &__status {
    display: flex;
    &_item {
      margin: 0 10px;
      color: var(--gold-color);
      font-size: 29px;
      font-family: "Monotype Corsiva";
    }
  }
  &__title {
    color: white;
    font-family: Lato;
    font-size: 26px;
    &_edit {
      display: flex;
      color: white;
      font-family: Lato;
      font-size: 26px;
      align-items: center;
      &_contacts {
        display: flex;
        color: white;
        font-family: Lato;
        font-size: 26px;
        align-items: center;
        margin-left: 30px;
      }
    }
  }
  &__name {
    line-height: 90px;
    font-size: 50px;
    color: var(--gold-color);
    text-decoration: none;
    font-weight: bold;
    font-family: "Comic Sans MS";
  }
  &__contacts {
    margin-left: 40px;
  }
}

.form {
  width: 100%;
  padding: 50px 30px;

  .hr {
    margin: 40px 0;
  }

  &__title {
    color: white;
    font-family: "Comic Sans MS";
    font-size: 45px;
    text-align: left;
    padding: 0 80px;
  }

  &__input {
    display: flex;
    background-color: aliceblue;
    width: 600px;
    height: 46px;
    border-radius: 17px;
    padding: 0 30px;
    margin: 0 0 30px 80px;
    font-size: 25px;
    font-family: "Monotype Corsiva";
    outline:none;
    &_error {
      background-color: darkred;
    }
  }

  &__input:focus {
    background-color: antiquewhite;
  }


  &__wrapper {
    display: flex;
    margin-top: 30px;
  }

  &__button {
    text-transform: uppercase;
    padding: 10px 0 ;
    margin-left: 20px;
    width: 140px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ff3939;
    color: white;
    outline: none;
    border-radius: 20px;
    font-family: "Comic Sans MS";
  }
}

.posts {
  padding: 2px 40px;
  margin: 0 auto;
  max-width: 860px;

  &__item {
    display: flex;
    padding: 20px 20px;
    border: 1px solid darkcyan;
    border-radius: 40px;
    margin-top: 20px;
    background-color: var(--second-color);
    overflow-x:hidden;
  }

  &__img {
    width: 90px;
  }

  &__title {
    margin: auto 50px;
    font-size: 26px;
    font-family: "Comic Sans MS";
  }

  &__like {
    font-size: 25px;
    margin: auto 20px auto auto;
    text-align: right;
    font-family: "Comic Sans MS";
    &_span {
      margin-right: 7px;
    }
  }
}
