
.users {
  padding: 10px 20px;
  margin: 0 auto;
  &__pagination {
    width: 200px;
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    background-color: #fffe0069;
    color: var(--main-color);
    border: 1px solid darkgrey;
    border-radius: 20px;
    cursor: pointer;
    &_selected {
      font-weight: bold;
      font-size: 20px;
    }
  }
  &__wrapper {
    margin: 15px 20px;
  }
  &__item {
    display: flex;
    width: 700px;
    margin: 10px 40px;
    justify-content: space-between;
    border: 1px solid darkgrey;
    border-radius: 15px;
    padding: 15px 20px;
    background-color: var(--second-color);
  }
  &__avatar {
    width: 20%;
    text-align: center;
    &__img {
      width: 70px;
    }
  }
  &__button {
    margin: 10px auto 0 auto;
    width: 80px;
    height: 35px;
    color: black;
    font-weight: bold;
    background-color: var(--gold-color);
    border: 1px solid darkgrey;
    border-radius: 10px;
    outline: none;
    font-size: 13px;
    &_follow {
      margin: 10px auto 0 auto;
      width: 80px;
      height: 35px;
      font-weight: bold;
      border: 1px solid darkgrey;
      border-radius: 10px;
      outline: none;
      font-size: 13px;
      color: black;
      background-color: var(--green-color);
    }
  }
  &__info {
    width: 60%;
    padding: 10px 60px;
    line-height: 35px;
    &__fullName {
      font-size: 28px;
      font-weight: bold;
    }
    &__status {
      font-style: italic;
    }
  }
  &__locate {
    width: 20%;
    margin: auto auto;
    line-height: 30px;
    text-align: center;
    &_country {
      font-size: 25px;
    }
  }
  &__butWrap {
    margin-top: 40px;
    text-align: center;

    &__showMoreBut {
      width: 200px;
      height: 50px;
      background-color: var(--main-color);
      color: white;
      font-size: 22px;
      font-weight: bold;
      align-items: center;
      border: 1px solid darkgrey;
      border-radius: 15px;
      outline: none;
    }
  }
}
.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
}