
.logoutButton{
  width: 50px;
  margin: 0 0 0 40px;
  cursor: pointer;
}
.app {
  &__header {
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 120px;
    align-items: center;
    background-color: var(--main-color);
    &_content {
      width: 1200px;
      margin: 0 auto  ;
    }
  }

  &__logo {
    position: absolute;
    width: 200px;
    margin-left: 320px;
  }
  &__login__block {
    display: flex;
    margin-left: auto;
    padding: 0 350px;
    &_button {
      width: 50px;
    }
    &_wrapper {
      display: flex;
    }
    &_login {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold;
      margin: auto 0;
      cursor: pointer;
      color: var(--purple-color);
    }
    &_img {
      width: 50px;
      margin: 0 20px;
    }
  }

}