.nav {
  margin-top: 20px;
  width: 200px;
  padding: 10px 10px 10px 10px;
  height: 750px;
  background-color: var(--main-color);;
  border-radius: 10px;
  &__hr {
    width: 60%;
    margin: 30px auto 0;
  }

  &__items {
    margin-top: 30px;
    text-align: center;
  }

  &__item a {
    color: #FFFFFF;
    font-size: 30px;
    line-height: 44px;
    text-decoration: none;

    &:hover {
      color: var(--gold-color);
    }

    &.activeLink {
      color: var(--gold-color);
    }
  }

  &__item_last a {
    color: #FFFFFF;
    font-size: 30px;
    line-height: 100px;
    text-decoration: none;

    &:hover {
      color: var(--gold-color);
    }

    &.activeLink {
      color: var(--gold-color);
    }
  }
}
